body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(to right, darkblue, coral);
}

.isGreen {
  font-size: 1.2em;
  color: darkgreen;
  font-weight: bold;
}
.isRed {
  font-size: 1.2em;
  color: brown;
  font-weight: bold;
}

.isCircleGreen {
  display: inline-block;
  background-color: darkgreen;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.isCircleRed {
  display: inline-block;
  background-color: brown;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.history {
  position: fixed;
  right: 10px;
  top: 85px;
  width: 200px;
  height: 200px;
  background: white;
  z-index: 999;
  border-radius: 12px;
  overflow-y: scroll;
}

.history__header {
  color: white;
  background: linear-gradient(to right, darkblue, coral);
  padding: 0.5em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.history__header h3 {
  margin: 0;
}

.button__custom {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  color: black;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 12px;
  transition-duration: 0.4s ease;
}

.button__custom h6 {
  margin: 1px;
}

.button__custom:hover {
  background: linear-gradient(to right, darkblue, coral);
  color: white;
}

.details {
  position: fixed;
  right: 10px;
  bottom: 25px;
  width: 200px;
  height: 300px;
  background: white;
  z-index: 999;
  border-radius: 12px;
  overflow-y: scroll;
}

.details__header {
  color: white;
  background: linear-gradient(to right, darkblue, coral);
  padding: 0.5em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.details__header h3 {
  margin: 0;
}
